
.row {
    display: flex;
    justify-content: space-around;
    .username {
        color: #1677ff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bolder;
        width: 100px;
        height: 100px;
    }
    .rate {
        color: yellowgreen;
        display: flex;
        align-items: center;
    }
    .commmentTitle {
        font-size: 15;
        color: #1677ff;
        font-weight: bold;
    }
}